In [1]:
import pandas as pd
import numpy as np

In [2]:
#importing GDP

GDP = pd.read_csv('data/GDP.csv', engine='python')

In [3]:
#clean first 5 rows, non-relevant information

GDP=GDP.iloc[4:]

In [4]:
#columns

GDP.columns

Index(['ï»¿Data Source', 'World Development Indicators', 'Unnamed: 2',
       'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7',
       'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12',
       'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16',
       'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20',
       'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24',
       'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28',
       'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32',
       'Unnamed: 33', 'Unnamed: 34', 'Unnamed: 35', 'Unnamed: 36',
       'Unnamed: 37', 'Unnamed: 38', 'Unnamed: 39', 'Unnamed: 40',
       'Unnamed: 41', 'Unnamed: 42', 'Unnamed: 43', 'Unnamed: 44',
       'Unnamed: 45', 'Unnamed: 46', 'Unnamed: 47', 'Unnamed: 48',
       'Unnamed: 49', 'Unnamed: 50', 'Unnamed: 51', 'Unnamed: 52',
       'Unnamed: 53', 'Unnamed: 54', 'Unnamed: 55', 'Unnamed: 56',
       'Unnamed: 57', 'Unnamed: 58', 'Unnamed: 59', 'Unnamed: 60',
       'Unnamed: 61', 'Unnamed: 62', 'Unnamed: 63'],
      dtype='object')

In [5]:
GDP.columns

GDPdrop=['Unnamed: 2','Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7','Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12','Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16','Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20','Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24','Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28','Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32','Unnamed: 33', 'Unnamed: 34', 'Unnamed: 35', 'Unnamed: 36','Unnamed: 37', 'Unnamed: 38', 'Unnamed: 39', 'Unnamed: 40','Unnamed: 41', 'Unnamed: 42', 'Unnamed: 43', 'Unnamed: 44','Unnamed: 45', 'Unnamed: 46', 'Unnamed: 47', 'Unnamed: 48','Unnamed: 49', 'Unnamed: 50', 'Unnamed: 51', 'Unnamed: 52','Unnamed: 53', 'Unnamed: 54', 'Unnamed: 55', 'Unnamed: 56','Unnamed: 57','Unnamed: 58' ]

In [6]:
GDP=GDP.drop(GDPdrop, axis=1)

#check it was successful

GDP

,ï»¿Data Source,World Development Indicators,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63
4,Aruba,ABW,2.919553e+09,2.965922e+09,3.056425e+09,NaN,NaN
5,Afghanistan,AFG,1.990711e+10,1.936264e+10,2.019176e+10,1.948438e+10,1.910135e+10
6,Angola,AGO,1.161940e+11,1.011240e+11,1.221240e+11,1.013530e+11,9.463542e+10
7,Albania,ALB,1.138685e+10,1.186120e+10,1.301969e+10,1.514702e+10,1.527808e+10
8,Andorra,AND,2.789870e+09,2.896679e+09,3.000181e+09,3.218316e+09,3.154058e+09
...,...,...,...,...,...,...,...
263,Kosovo,XKX,6.442916e+09,6.719172e+09,7.245707e+09,7.942962e+09,7.926108e+09
264,"Yemen, Rep.",YEM,3.697620e+10,2.808468e+10,2.456133e+10,2.759126e+10,NaN
265,South Africa,ZAF,3.176210e+11,2.963570e+11,3.495540e+11,3.682890e+11,3.514320e+11
266,Zambia,ZMB,2.124335e+10,2.095476e+10,2.586814e+10,2.700524e+10,2.306472e+10
267,Zimbabwe,ZWE,1.996312e+10,2.054868e+10,2.204090e+10,2.431156e+10,2.144076e+10

In [7]:
#replace NAN

GDP=GDP.fillna(0)

In [8]:
# rename

GDP=GDP.rename(columns={'ï»¿Data Source':'Country', 'World Development Indicators':'Country_code','Unnamed: 59':'GDP US$ 2015', 'Unnamed: 60':'GDP US$ 2016','Unnamed: 61':'GDP US$ 2017', 'Unnamed: 62':'GDP US$ 2018', 'Unnamed: 63':'GDP US$ 2019'})

In [9]:
GDP.reset_index(drop=True, inplace=True)

In [10]:
GDP

,Country,Country_code,GDP US$ 2015,GDP US$ 2016,GDP US$ 2017,GDP US$ 2018,GDP US$ 2019
0,Aruba,ABW,2.919553e+09,2.965922e+09,3.056425e+09,0.000000e+00,0.000000e+00
1,Afghanistan,AFG,1.990711e+10,1.936264e+10,2.019176e+10,1.948438e+10,1.910135e+10
2,Angola,AGO,1.161940e+11,1.011240e+11,1.221240e+11,1.013530e+11,9.463542e+10
3,Albania,ALB,1.138685e+10,1.186120e+10,1.301969e+10,1.514702e+10,1.527808e+10
4,Andorra,AND,2.789870e+09,2.896679e+09,3.000181e+09,3.218316e+09,3.154058e+09
...,...,...,...,...,...,...,...
259,Kosovo,XKX,6.442916e+09,6.719172e+09,7.245707e+09,7.942962e+09,7.926108e+09
260,"Yemen, Rep.",YEM,3.697620e+10,2.808468e+10,2.456133e+10,2.759126e+10,0.000000e+00
261,South Africa,ZAF,3.176210e+11,2.963570e+11,3.495540e+11,3.682890e+11,3.514320e+11
262,Zambia,ZMB,2.124335e+10,2.095476e+10,2.586814e+10,2.700524e+10,2.306472e+10
263,Zimbabwe,ZWE,1.996312e+10,2.054868e+10,2.204090e+10,2.431156e+10,2.144076e+10

In [11]:
#importing proportion of women in national parliments

women = pd.read_excel('data/government.xls')
women

,Data Source,World Development Indicators,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 54,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63
0,Last Updated Date,2020-07-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,...,2010.000000,2011.000000,2012.000000,2013.000000,2014.000000,2015.000000,2016.000000,2017.000000,2018.000000,2019.000000
3,Aruba,ABW,Proportion of seats held by women in national ...,SG.GEN.PARL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,AFG,Proportion of seats held by women in national ...,SG.GEN.PARL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,27.710843,27.710843,27.710843,27.710843,27.710843,27.710843,27.710843,27.710843,NaN,27.868852
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262,Kosovo,XKX,Proportion of seats held by women in national ...,SG.GEN.PARL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
263,"Yemen, Rep.",YEM,Proportion of seats held by women in national ...,SG.GEN.PARL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,0.332226,0.332226,0.332226,0.332226,0.332226,0.000000,0.000000,0.000000,0.000000,0.332226
264,South Africa,ZAF,Proportion of seats held by women in national ...,SG.GEN.PARL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,44.500000,42.250000,42.250000,42.250000,41.500000,42.000000,42.000000,41.836735,42.748092,46.347607
265,Zambia,ZMB,Proportion of seats held by women in national ...,SG.GEN.PARL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,14.012739,11.464968,11.464968,11.464968,10.759494,12.658228,17.964072,17.964072,17.964072,17.964072
266,Zimbabwe,ZWE,Proportion of seats held by women in national ...,SG.GEN.PARL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,14.953271,14.953271,14.953271,31.481481,31.481481,31.481481,31.481481,32.575758,31.481481,31.851852

In [12]:
#clean first rows, non-relevant information

women=women.iloc[3:]

In [13]:
#columns

women.columns

Index(['Data Source', 'World Development Indicators', 'Unnamed: 2',
       'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7',
       'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12',
       'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16',
       'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20',
       'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24',
       'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28',
       'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32',
       'Unnamed: 33', 'Unnamed: 34', 'Unnamed: 35', 'Unnamed: 36',
       'Unnamed: 37', 'Unnamed: 38', 'Unnamed: 39', 'Unnamed: 40',
       'Unnamed: 41', 'Unnamed: 42', 'Unnamed: 43', 'Unnamed: 44',
       'Unnamed: 45', 'Unnamed: 46', 'Unnamed: 47', 'Unnamed: 48',
       'Unnamed: 49', 'Unnamed: 50', 'Unnamed: 51', 'Unnamed: 52',
       'Unnamed: 53', 'Unnamed: 54', 'Unnamed: 55', 'Unnamed: 56',
       'Unnamed: 57', 'Unnamed: 58', 'Unnamed: 59', 'Unnamed: 60',
       'Unnamed: 61', 'Unnamed: 62', 'Unnamed: 63'],
      dtype='object')

In [14]:
#columns to drop women

womendrop=['Unnamed: 2','Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7','Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12','Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16','Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20','Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24','Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28','Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32','Unnamed: 33', 'Unnamed: 34', 'Unnamed: 35', 'Unnamed: 36','Unnamed: 37', 'Unnamed: 38', 'Unnamed: 39', 'Unnamed: 40','Unnamed: 41', 'Unnamed: 42', 'Unnamed: 43', 'Unnamed: 44','Unnamed: 45', 'Unnamed: 46', 'Unnamed: 47', 'Unnamed: 48','Unnamed: 49', 'Unnamed: 50', 'Unnamed: 51', 'Unnamed: 52','Unnamed: 53', 'Unnamed: 54', 'Unnamed: 55', 'Unnamed: 56','Unnamed: 57', 'Unnamed: 58']

In [15]:
women=women.drop(womendrop, axis=1)

#check it was successful

women

,Data Source,World Development Indicators,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63
3,Aruba,ABW,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,AFG,27.710843,27.710843,27.710843,NaN,27.868852
5,Angola,AGO,36.818182,36.818182,30.454545,30.454545,30.000000
6,Albania,ALB,20.714286,22.857143,27.857143,27.857143,29.508197
7,Andorra,AND,39.285714,32.142857,32.142857,32.142857,46.428571
...,...,...,...,...,...,...,...
262,Kosovo,XKX,NaN,NaN,NaN,NaN,NaN
263,"Yemen, Rep.",YEM,0.000000,0.000000,0.000000,0.000000,0.332226
264,South Africa,ZAF,42.000000,42.000000,41.836735,42.748092,46.347607
265,Zambia,ZMB,12.658228,17.964072,17.964072,17.964072,17.964072
266,Zimbabwe,ZWE,31.481481,31.481481,32.575758,31.481481,31.851852

In [16]:
#replace NAN

women=women.fillna(0)

In [17]:
# rename

women=women.rename(columns={'Data Source':'Country', 'World Development Indicators':'Country_code', 'Unnamed: 59':'% women in national parliaments 2015','Unnamed: 60':'% women in national parliaments 2016','Unnamed: 61':'% women in national parliaments 2017','Unnamed: 62':'% women in national parliaments 2018','Unnamed: 63':'% women in national parliaments 2019'})

In [18]:
women

,Country,Country_code,% women in national parliaments 2015,% women in national parliaments 2016,% women in national parliaments 2017,% women in national parliaments 2018,% women in national parliaments 2019
3,Aruba,ABW,0.000000,0.000000,0.000000,0.000000,0.000000
4,Afghanistan,AFG,27.710843,27.710843,27.710843,0.000000,27.868852
5,Angola,AGO,36.818182,36.818182,30.454545,30.454545,30.000000
6,Albania,ALB,20.714286,22.857143,27.857143,27.857143,29.508197
7,Andorra,AND,39.285714,32.142857,32.142857,32.142857,46.428571
...,...,...,...,...,...,...,...
262,Kosovo,XKX,0.000000,0.000000,0.000000,0.000000,0.000000
263,"Yemen, Rep.",YEM,0.000000,0.000000,0.000000,0.000000,0.332226
264,South Africa,ZAF,42.000000,42.000000,41.836735,42.748092,46.347607
265,Zambia,ZMB,12.658228,17.964072,17.964072,17.964072,17.964072
266,Zimbabwe,ZWE,31.481481,31.481481,32.575758,31.481481,31.851852

In [19]:
women.reset_index(drop=True, inplace=True)

In [20]:
women

,Country,Country_code,% women in national parliaments 2015,% women in national parliaments 2016,% women in national parliaments 2017,% women in national parliaments 2018,% women in national parliaments 2019
0,Aruba,ABW,0.000000,0.000000,0.000000,0.000000,0.000000
1,Afghanistan,AFG,27.710843,27.710843,27.710843,0.000000,27.868852
2,Angola,AGO,36.818182,36.818182,30.454545,30.454545,30.000000
3,Albania,ALB,20.714286,22.857143,27.857143,27.857143,29.508197
4,Andorra,AND,39.285714,32.142857,32.142857,32.142857,46.428571
...,...,...,...,...,...,...,...
259,Kosovo,XKX,0.000000,0.000000,0.000000,0.000000,0.000000
260,"Yemen, Rep.",YEM,0.000000,0.000000,0.000000,0.000000,0.332226
261,South Africa,ZAF,42.000000,42.000000,41.836735,42.748092,46.347607
262,Zambia,ZMB,12.658228,17.964072,17.964072,17.964072,17.964072
263,Zimbabwe,ZWE,31.481481,31.481481,32.575758,31.481481,31.851852

In [21]:
#merge

tableau_data=GDP.merge(women, left_on='Country', right_on='Country')

tableau_data

,Country,Country_code_x,GDP US$ 2015,GDP US$ 2016,GDP US$ 2017,GDP US$ 2018,GDP US$ 2019,Country_code_y,% women in national parliaments 2015,% women in national parliaments 2016,% women in national parliaments 2017,% women in national parliaments 2018,% women in national parliaments 2019
0,Aruba,ABW,2.919553e+09,2.965922e+09,3.056425e+09,0.000000e+00,0.000000e+00,ABW,0.000000,0.000000,0.000000,0.000000,0.000000
1,Afghanistan,AFG,1.990711e+10,1.936264e+10,2.019176e+10,1.948438e+10,1.910135e+10,AFG,27.710843,27.710843,27.710843,0.000000,27.868852
2,Angola,AGO,1.161940e+11,1.011240e+11,1.221240e+11,1.013530e+11,9.463542e+10,AGO,36.818182,36.818182,30.454545,30.454545,30.000000
3,Albania,ALB,1.138685e+10,1.186120e+10,1.301969e+10,1.514702e+10,1.527808e+10,ALB,20.714286,22.857143,27.857143,27.857143,29.508197
4,Andorra,AND,2.789870e+09,2.896679e+09,3.000181e+09,3.218316e+09,3.154058e+09,AND,39.285714,32.142857,32.142857,32.142857,46.428571
...,...,...,...,...,...,...,...,...,...,...,...,...,...
258,Kosovo,XKX,6.442916e+09,6.719172e+09,7.245707e+09,7.942962e+09,7.926108e+09,XKX,0.000000,0.000000,0.000000,0.000000,0.000000
259,"Yemen, Rep.",YEM,3.697620e+10,2.808468e+10,2.456133e+10,2.759126e+10,0.000000e+00,YEM,0.000000,0.000000,0.000000,0.000000,0.332226
260,South Africa,ZAF,3.176210e+11,2.963570e+11,3.495540e+11,3.682890e+11,3.514320e+11,ZAF,42.000000,42.000000,41.836735,42.748092,46.347607
261,Zambia,ZMB,2.124335e+10,2.095476e+10,2.586814e+10,2.700524e+10,2.306472e+10,ZMB,12.658228,17.964072,17.964072,17.964072,17.964072
262,Zimbabwe,ZWE,1.996312e+10,2.054868e+10,2.204090e+10,2.431156e+10,2.144076e+10,ZWE,31.481481,31.481481,32.575758,31.481481,31.851852

In [22]:
tableau_data.columns

Index(['Country', 'Country_code_x', 'GDP US$ 2015', 'GDP US$ 2016',
       'GDP US$ 2017', 'GDP US$ 2018', 'GDP US$ 2019', 'Country_code_y',
       '% women in national parliaments 2015',
       '% women in national parliaments 2016',
       '% women in national parliaments 2017',
       '% women in national parliaments 2018',
       '% women in national parliaments 2019'],
      dtype='object')

In [23]:
tableau_data=tableau_data.drop(columns=['Country_code_x', 'Country_code_y'], axis=1)

In [24]:
tableau_data

,Country,GDP US$ 2015,GDP US$ 2016,GDP US$ 2017,GDP US$ 2018,GDP US$ 2019,% women in national parliaments 2015,% women in national parliaments 2016,% women in national parliaments 2017,% women in national parliaments 2018,% women in national parliaments 2019
0,Aruba,2.919553e+09,2.965922e+09,3.056425e+09,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
1,Afghanistan,1.990711e+10,1.936264e+10,2.019176e+10,1.948438e+10,1.910135e+10,27.710843,27.710843,27.710843,0.000000,27.868852
2,Angola,1.161940e+11,1.011240e+11,1.221240e+11,1.013530e+11,9.463542e+10,36.818182,36.818182,30.454545,30.454545,30.000000
3,Albania,1.138685e+10,1.186120e+10,1.301969e+10,1.514702e+10,1.527808e+10,20.714286,22.857143,27.857143,27.857143,29.508197
4,Andorra,2.789870e+09,2.896679e+09,3.000181e+09,3.218316e+09,3.154058e+09,39.285714,32.142857,32.142857,32.142857,46.428571
...,...,...,...,...,...,...,...,...,...,...,...
258,Kosovo,6.442916e+09,6.719172e+09,7.245707e+09,7.942962e+09,7.926108e+09,0.000000,0.000000,0.000000,0.000000,0.000000
259,"Yemen, Rep.",3.697620e+10,2.808468e+10,2.456133e+10,2.759126e+10,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.332226
260,South Africa,3.176210e+11,2.963570e+11,3.495540e+11,3.682890e+11,3.514320e+11,42.000000,42.000000,41.836735,42.748092,46.347607
261,Zambia,2.124335e+10,2.095476e+10,2.586814e+10,2.700524e+10,2.306472e+10,12.658228,17.964072,17.964072,17.964072,17.964072
262,Zimbabwe,1.996312e+10,2.054868e+10,2.204090e+10,2.431156e+10,2.144076e+10,31.481481,31.481481,32.575758,31.481481,31.851852

In [25]:
tableau_data = tableau_data.to_csv('tableau_data.csv', index=False)